@model List<TP04.Models.FiguritaUsuario>

@using TP04.Models

@{
    ViewData["Title"] = "Álbum";

    List<Jugadores> jugadores = ViewBag.Jugadores;
    List<Selecciones> selecciones = ViewBag.Selecciones;
}

<h1>Mi Álbum</h1>




@foreach(Selecciones seleccion in selecciones)
{
    <h2>@seleccion.Pais</h2>

    <div class="contenedor">

    @foreach(Jugadores jugador in jugadores)
    {
        @if(jugador.idSeleccion == seleccion.ID)
        {
            @foreach(FiguritaUsuario figurita in Model){
                
                @if(jugador.ID == figurita.idJugador){

                
            <div class="carta">

                <img src="/images/jugadores/@jugador.Foto" alt="@jugador.Nombre">
                
                <h3>@jugador.Nombre</h3>

                <p>Número: @jugador.Numero</p>

                <p>@jugador.Posicion</p>

                <p>Cantidad: @figurita.Cantidad</p>

                @if(figurita.Pegada)
                {
                    <p>Pegada</p>
                }
                else
                {
                    <a href='@Url.Action("Pegar","Home", new { id = jugador.ID })' class="boton">
                        Pegar
                    </a>
                }

            </div>
                
            }
        }
    }
}
    </div>
}



<br>

<a href='@Url.Action("Index","Home")' class="boton">
    Volver al Inicio
</a>